!!! 5
%html
  %head
    %title= @name
    %link(rel="stylesheet" href="/css/style.css")
    %link(rel="stylesheet" href="/css/eiffel.css")    
    %link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css')
  %body
    #main
      %h1{:class => "paste"} Pasta
      #title= @paste.title
      #author= @paste.author
      .linkbox 
        %a(href="/raw/#{@paste.id}" title="View Raw") View Raw
        %a(href="/download/#{@paste.id}" title="Download Paste") Download Paste
        %a(href="/#{@paste.id}" title="Line Numbers") Hide Line Numbers
      :preserve
        #{@paste.bodywlines}
